<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/HFTbridge/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="geraltdwf" />
      <add key="ClearTextPassword" value="*****" />
    </GitHub>
  </packageSourceCredentials>
</configuration>